<div class="h2 text-right">
  <div class="row">
    <div class="col-md-6 text-right">
      <a href="https://www.linkedin.com/in/stephenturton">
        <div class="col-md-10 vertical-center">
          <div>I keep an up to date profile on LinkedIn </div>
        </div>
        <div class="col-md-2"><i class="fa fa-linkedin-square fa-5x"></i>
        </div>
      </a>
    </div>

    <div class="col-md-6 text-left">
      <a href="http://www.last.fm/user/easytarget0000/library/artists">
        <div class="col-md-2"><i class="fa fa-lastfm-square fa-5x"></i>
        </div>
        <div class="col-md-10 vertical-center">
          <div> Charts of the music I consume</div>
        </div>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 text-right">
      <a href="https://github.com/stedevine/">
        <div class="col-md-10 vertical-center">
          <div>Code I write for fun</div>
        </div>
        <div class="col-md-2"><i class="fa fa-github fa-5x"></i>
        </div>
      </a>
    </div>

    <div class="col-md-6 text-left">
      <a href="http://stackoverflow.com/jobs/cv/employer/29351">
        <div class="col-md-2"><i class="fa fa-stack-overflow fa-5x"></i>
        </div>
        <div class="col-md-10 vertical-center">
          <div> My CV and stackoverflow profile</div>
        </div>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 text-right">
      <a href="http://www.wisconseattle.com">
        <div class="col-md-10 vertical-center">
          <div>I play bass in this band</div>
          <small>and keep the website up to date</small>
        </div>
        <div class="col-md-2"><i class="fa fa-volume-up fa-5x"></i>
        </div>
      </a>
    </div>

    <div class="col-md-6 text-left">
      <a href="http://www.lolide.com">
        <div class="col-md-2"><i class="fa fa-star fa-5x"></i>
        </div>
        <div class="col-md-10 vertical-center">
          <div> My talented wife's on-line store</div>
          <small> to which I contribute css and javascript</small>
        </div>
      </a>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-12">
      email : <a href="mailto:ste@stedevine.com">ste@stedevine.com</a>
    </div>
  </div>
</di
