<div class="h2 text-right">
  <div class="row">
    <div class="col-md-6 text-right">
      <a href="https://www.linkedin.com/in/stephenturton">
        <div class="col-md-10 vertical-center">
          <div>I keep an up to date profile on LinkedIn </div>
        </div>
        <div class="col-md-2"><i class="fa fa-linkedin-square fa-5x"></i>
        </div>
      </a>
    </div>

    <div class="col-md-6 text-left">
      <a href="http://www.last.fm/user/easytarget0000/library/artists?date_preset=LAST_30_DAYS">
        <div class="col-md-2"><i class="fa fa-lastfm-square fa-5x"></i>
        </div>
        <div class="col-md-10 vertical-center">
          <div> Charts of the music I consume</div>
        </div>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 text-right">
      <a href="https://github.com/stedevine/">
        <div class="col-md-10 vertical-center">
          <div>Code I write for fun</div>
        </div>
        <div class="col-md-2"><i class="fa fa-github fa-5x"></i>
        </div>
      </a>
    </div>

    <div class="col-md-6 text-left">
      <a href="http://stackoverflow.com/jobs/cv/employer/29351">
        <div class="col-md-2"><i class="fa fa-stack-overflow fa-5x"></i>
        </div>
        <div class="col-md-10 vertical-center">
          <div> My CV and stackoverflow profile</div>
        </div>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 text-right">
      <a href="http://www.wisconseattle.com">
        <div class="col-md-10 vertical-center">
          <div>I play bass in this band</div>
          <small><div class="about-text">and keep the website up to date</div></small>
        </div>
        <div class="col-md-2"><i class="fa fa-volume-up fa-5x"></i>
        </div>
      </a>
    </div>

    <div class="col-md-6 text-left">
      <a href="http://www.lolide.com">
        <div class="col-md-2"><i class="fa fa-star fa-5x"></i>
        </div>
        <div class="col-md-10 vertical-center">
          <div> My talented wife's on-line store</div>
          <small><div class="about-text"> to which I contribute css and javascript</div></small>
        </div>
      </a>
    </div>
  </div>
  <div class="row" style="background: rgba(100, 100, 120, 0.5);">
    <div class="col-md-1">
    </div>
    <div class="col-md-5 text-left">
      <div class="h3 text-center">Turton <i class="fa fa-arrow-right"></i> Devine </div>
      <small >
        <div class="about-text">
        <p>Before Lori and I got married, we decided that we wanted to have the same last name. I don't like hyphenating names because, from an engineering point of view, it doesn't scale. It also doesn't seem fair that the lady-half of the couple should
          always give up her name and take her husband's, but I didn't want to give up my family name either. What to do? </p>
        <p>We dug around in our family trees and looked for a name that got erased by a past marriage. We found my father's mother's maiden name: Devine.</p>
        <p>This seemed suitable so we called ourselves that.</p>
      </div>
      </small>
    </div>

    <div class="col-md-6 text-left">oc
      <div class="col-md-5 text-left">
        <div class="h3 text-center">This website</div>
        <small>
          <div class="about-text">
          <p>This website was built using AngularJS and Bootstrap</p>
          <p>The github respository is <a href="https://github.com/stedevine/personalwebsite">here</a></p>
        </div>
        </small>
      </div>
    </div>
  </div>


  <div class="row text-center">
    <div class="col-md-12">
      email : <a href="mailto:ste@stedevine.com">ste@stedevine.com</a>
    </div>
  </div>
</div>
