<div class="about-text">
  <div class="h2 row">
    <div class="col-md-5">
    </div>
    <a href="https://www.linkedin.com/in/stephenadevine">
    <div class="col-md-1 text-left">
        <div class="h3 text-center"><i class="fab fa-linkedin fa-4x"></i></div>
      <small >
        <div class="about-text text-center" >
          linkedin
        </div>
    </small>
    </div>
    </a>

    <a href="https://github.com/stedevine/">
    <div class="col-md-1 text-left">
      <div class="h3 text-center"><i class="fab fa-github-square fa-4x"></i></div>
      <small >
        <div class="about-text text-center" >
          github
        </div>
      </small>
    </div>
    </a>
  </div>


  <div class="h2 row">
    <div class="col-md-5">
    </div>
    <a href="https://straighttovideovhs.bandcamp.com">
    <div class="col-md-1 text-left">
        <div class="h3 text-center"><i class="fas fa-volume-up fa-4x"></i></div>
      <small >
        <div class="about-text text-center" >
          current band
        </div>
    </small>
    </div>
    </a>

    <a href="https://wiscon.bandcamp.com">
    <div class="col-md-1 text-right">
      
      <div class="h3 text-center"><i class="fas fa-volume-mute fa-4x"></i></div>
      <small >
        <div class="about-text text-center" >
          old band
        </div>
      </small>
    </div>
    </a>
  </div>

  <div class="h2 row">
    <div class="col-md-5">
    </div>
    <a href="https://www.last.fm/user/easytarget0000">
    <div class="col-md-1 text-left">
        <div class="h3 text-center"><i class="fas fa-headphones fa-4x"></i></div>
      <small >
        <div class="about-text text-center" >
          lastfm
        </div>
    </small>
    </div>
    </a>

    <a href="https://lolide.com">
    <div class="col-md-1 text-left">
      <div class="h3 text-center"><i class="far fa-gem fa-4x"></i></div>
      <small >
        <div class="about-text text-center" >
          my wife's amazing website
        </div>
      </small>
    </div>
    </a>
  </div>

</div>
