<div class="about-text">
  <div class="h2 text-right">
    <div class="row">
      <div class="col-md-6 text-right">
        <a href="https://www.linkedin.com/in/stephenadevine">
          <div class="col-md-8">
          </div>
          <div class="col-md-4"><i class="fab fa-linkedin fa-5x"></i>
            profile
          </div>
        </a>
      </div>

      <div class="col-md-6 text-left">
        <a href="https://wiscon.bandcamp.com">
          <div class="col-md-4"><i class="fab fa-bandcamp fa-5x"></i>
            records
            <!--<small><div class="about-text">my old band's records</div></small>-->
          </div>
          <div class="col-md-8">
          </div>
        </a>
      </div>
    </div>

    <div class="row">

      <div class="col-md-6 text-right">
        <a href="https://github.com/stedevine/">
          <div class="col-md-8 vertical-center">
          </div>
          <div class="col-md-4"><i class="fab fa-github-square fa-5x"></i>
            github
          </div>
        </a>
      </div>

      <div class="col-md-6 text-left">
        <a href="http://www.lolide.com">
          <div class="col-md-4"><i class="far fa-gem fa-5x"></i>
            lolide
            <small><div class="about-text">my wife's website, which I manage</div></small>
          </div>
          <div class="col-md-8 vertical-center">
          </div>
        </a>
      </div>

    </div>

    <div id="me-block" class="row" style="background: rgba(100, 100, 120, 0.5);">
      <div class="col-md-1">
      </div>
      <div class="col-md-5 text-left">
        <div class="h3 text-center">Turton <i class="fa fa-arrow-right"></i> Devine </div>
        <small >
          <div class="about-text">
          <p>Before Lori and I got married, we decided that we wanted to have the same last name. I don't like hyphenating names because, from an engineering point of view, it doesn't scale. It also doesn't seem fair that the lady-half of the couple should
            always give up her name and take her husband's, but I didn't want to give up my family name either. What to do? </p>
          <p>We dug around in our family trees and looked for a name that got erased by a past marriage. We found my father's mother's maiden name: Devine.</p>
          <p>This seemed suitable so we called ourselves that.</p>
        </div>
        </small>
      </div>

      <div class="col-md-6 text-left">
        <div class="col-md-5 text-left">
          <div class="h3 text-center">Who made this amazing website?</div>
          <small>
            <div class="about-text">
            <p>I did. Using AngularJS and Bootstrap</p>
            <p>The github respository is <a href="https://github.com/stedevine/personalwebsite">here</a></p>
          </div>
          </small>
        </div>
      </div>
    </div>


  </div>
</div>
